.about {
  background-color: $color-grey-light-1;
  padding: 10rem;
  display: grid;

  row-gap: 3rem;

  justify-items: center;

  &__text {
    font-size: 1.6rem;
  }

  &__img {
    width: 40rem;

    border-radius: 20px;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.4);
  }
}
