.contact {
  background-color: $color-primary;
  height: 40vh;

  display: grid;
  grid-template-rows: repeat(2, minmax(max-content, 10rem));
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;

  & > h2 {
    grid-column: 1 / -1;
  }

  &__item {
    display: grid;

    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    justify-items: left;
    align-items: center;
  }

  &__text {
    font-size: 1.7rem;
    color: $color-grey-light-1;
  }

  &__link {
    font-size: 1.7rem;
    color: $color-grey-light-1;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $color-grey-dark-1;
      text-decoration: underline;
      transform: scale(1.2);
    }
  }

  &__email {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-grey-light-1;

    grid-row: 1 / -1;
  }

  &__etsy {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-grey-light-1;
    grid-row: 1 / -1;
  }
}
