.details {
  background-color: $color-grey-light-1;
  padding: 5rem;
  min-height: 30vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}

.detail {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: center;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;

    grid-row: 1 / -1;
  }

  &__text {
    font-size: 1.4rem;
    grid-column: 2 / 3;
  }
}
